a {
  font-weight: 500;
  color: #FF6B00;
  text-decoration: inherit;
}
a:hover {
  color: #FAFAFA;
}

i {
  color: #FF6B00;
  font-size: 30px;
  padding: 0 20px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #FAFAFA;
  text-align: center;
  background-color: #212529;
}

h1 {
  font-size: 1.8em;
  color: #FF6B00;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #FF6B00;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

h2 {
  font-size: 3.5em; 
  font-weight: 600;
  padding-top: 20%;
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
  line-height: 1.4; 
}

h4 {
  font-size: 1em;  
}

h5 {
  font-size: 0.83em;
  line-height: 1.6; 
}

h6 {
  font-size: 0.67em;
  line-height: 1.7; 
}

p {
  font-size: 1em;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 10% 0;
}

.btn-primary {
  border: 2px solid #FF6B00;
  background-color: #FF6B00;
  color: #FAFAFA;
  border-radius: 3%;
  font-size: 1.3em;
}

.btn-primary:hover {
  background-color: #212529;
  border: 2px solid #FAFAFA;
  color: #FAFAFA;
  border-radius: 3%;
}

.dark-theme {
  background-color: #212529;
  color: #FAFAFA;
}

.light-theme {
  background-color: #FAFAFA;
  color: #212529;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212529;
    background-color: #FAFAFA;
  }
  a:hover {
    color: #FF6B00;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #FAFAFA;
    background-color: #212529;
  }
  a:hover {
    color: #FF6B00;
  }
}

